<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Nom de responsable</h2>
            <h4>poste</h4>
        </div>
        <img src="/assets/user.jpg" alt="image">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>contenu génerale</h2>
    <a mat-list-item routerLinkActive="list-iteù-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-iteù-active" routerLink="/posts">
        <mat-icon>add_circle_outline</mat-icon>
        Ajout
    </a>
    <a mat-list-item routerLinkActive="list-iteù-active" routerLink="/tablesemployees">
        <mat-icon> list_alt</mat-icon>
        Gérer les employées
    </a>
    <mat-divider></mat-divider>
    <h2 matSubheader>plus d'infos</h2>
    <a mat-list-item routerLinkActive="list-iteù-active" routerLink="/profile">Profile Personnel</a>
    <a mat-list-item routerLinkActive="list-iteù-active" routerLink="/notification">Notifications</a>
    
    
</mat-nav-list>

<app-footer></app-footer>
