.content {
    padding-left: 50px;
}

.content > mat-card {
    width: 500px;
    height: 580px;
}

.head{
   padding-top: 50px;
    
}
.form{
    display : center;
}
.example-button-row {
    display: table-cell;
    width: 490px;
  }
