<br>
<div>
      <div class="content">
          <br>
        <mat-card class="head" class="mat-elevation-z5">
            <br><br>
                <mat-card-header>
                    <mat-card-title>Ajout d'un nouveaux employé </mat-card-title>
                </mat-card-header>
            <br><br><br><br>
                <mat-card-content fxLayoutGap="50px">
                        <div class="form" >
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <br>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <br>
                        <br>
                        <div class="form">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <br>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <br>
                        <br>
                        <div class="form">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <br>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <br>
                        <br>
                        <div class="form">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <br>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="example-button-row">
                    <button mat-flat-button >Effectuer</button>
                    <button mat-button>Exit</button>
                    </div>
                </mat-card-actions>
                </mat-card>
      </div>
</div>