<br>
<div>
      <div class="content">
          <br>
        <mat-card class="head" class="mat-elevation-z5">
            <br><br>
                <mat-card-header>
                    <mat-card-title>Ajout d'un nouveaux employé </mat-card-title>
                </mat-card-header>
            <br><br><br><br>
                <mat-card-content fxLayoutGap="50px">
                        <div class="form" >
                            <label for="exampleFormControlInput1" class="form-label">Idenifiant cni</label>
                            <br>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="001">
                        </div>
                        <br>
                        <br>
                        <div class="form">
                            <label for="exampleFormControlInput1" class="form-label">Nom</label>
                            <br>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="wajdi">
                        </div>
                        <br>
                        <br>
                        <div class="form">
                            <label for="exampleFormControlInput1" class="form-label">Prenom</label>
                            <br>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="oauili">
                        </div>
                        <br>
                        <br>
                        <div class="form">
                            <label for="exampleFormControlInput1" class="form-label">addresse mail</label>
                            <br>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nom@example.com">
                        </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="example-button-row">
                    <button mat-flat-button >Effectuer</button>
                    <button mat-button>Exit</button>
                    </div>
                </mat-card-actions>
                </mat-card>
      </div>
</div>