.app-area {
    // Edit chart spacing
    margin-bottom: 15;
    padding-top: 30;
    margin-left: 10;
    margin-right: 60;
    // Explicitly tell the width and height of a chart
    width: null;
    height: null
}