<br>
<div fxLayout="row" fxLayout="space-between center" fxLayoutGap="120px" class="stats-card">
    <mat-card fxFlex="25">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">content_copy</i>
                                </div>
                                <p class="card-category">Les Utilisateurs</p>
                                <h3 class="card-title">nombre des Utilisateurs ghadi</h3>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </mat-card>
    <mat-card fxFlex="25">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">groupes existant</i>
                    </div>
                    <p class="card-category">nombre des groupes</p>
                    <h3 class="card-title">6</h3>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card fxFlex="25">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">des informations sur les emplyés</p>
                    <h3 class="card-title">75</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
    <br>
        <mat-divider></mat-divider>
    <br>
    <br>
        <div fxLayout="row" fxLayout="space-between center" fxLayoutGap="40px" class="stats-card">
            <app-area></app-area>
            <app-piechart fxFlex="20"></app-piechart>
        </div>
    <br>

        <mat-divider></mat-divider>
